Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
lib/KENDOUIMVC/2013.2.716.340/bg-BG/Kendo.Mvc.resources.dll
lib/KENDOUIMVC/2013.2.716.340/da-DK/Kendo.Mvc.resources.dll
lib/KENDOUIMVC/2013.2.716.340/de-DE/Kendo.Mvc.resources.dll
lib/KENDOUIMVC/2013.2.716.340/distribution.xml
lib/KENDOUIMVC/2013.2.716.340/es-ES/Kendo.Mvc.resources.dll
lib/KENDOUIMVC/2013.2.716.340/fr-FR/Kendo.Mvc.resources.dll
lib/KENDOUIMVC/2013.2.716.340/Kendo.Mvc.dll
lib/KENDOUIMVC/2013.2.716.340/Kendo.Mvc.xml
lib/KENDOUIMVC/2013.2.716.340/nl-NL/Kendo.Mvc.resources.dll
lib/KENDOUIMVC/2013.2.716.340/pl-PL/Kendo.Mvc.resources.dll
lib/KENDOUIMVC/2013.2.716.340/pt-BR/Kendo.Mvc.resources.dll
lib/KENDOUIMVC/2013.2.716.340/pt-PT/Kendo.Mvc.resources.dll
lib/KENDOUIMVC/2013.2.716.340/ro-RO/Kendo.Mvc.resources.dll
lib/KENDOUIMVC/2013.2.716.340/ru-RU/Kendo.Mvc.resources.dll
lib/KENDOUIMVC/2013.2.716.340/sv-SE/Kendo.Mvc.resources.dll
lib/KENDOUIMVC/2013.2.716.340/uk-UA/Kendo.Mvc.resources.dll
lib/KENDOUIMVC/2013.2.716.340/zh-CN/Kendo.Mvc.resources.dll
packages/NBuilder.3.0.1.1/lib/FizzWare.NBuilder.dll
packages/NBuilder.3.0.1.1/NBuilder.3.0.1.1.nupkg
packages/NBuilder.3.0.1.1/NBuilder.3.0.1.1.nuspec
